// @Author: alcwynparker
// @Date:   2017-06-18T15:33:02+01:00
// @Last modified by:   alcwynparker
// @Last modified time: 2018-03-12T23:13:59+00:00
.tutorial-panel {
  height:100%;
  position:relative;
  background-color: white;
}

.sidebar {
  position: absolute;
  display: block;
  background: white;
  width:30%;
  height:100%;
  z-index:1;
  -webkit-box-shadow: 13px 3px 23px 1px rgba(235,235,235,1);
  -moz-box-shadow: 13px 3px 23px 1px rgba(235,235,235,1);
  box-shadow: 13px 3px 23px 1px rgba(235,235,235,1);
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      padding:0;
      margin:0;
      a{
        display: block;
        width:90%;
        height:8%;
        margin:2% 5%;
        text-decoration: none;
        text-align: center;
        font-family: 'Indie Flower', cursive;
        color: black;
        font-size:2em;
        border-top-left-radius: 255px 15px;
        border-top-right-radius: 15px 225px;
        border-bottom-right-radius: 225px 15px;
        border-bottom-left-radius:15px 255px;
        border:dotted 2px #41403E;
        &:hover{
          background:$ioi-pink;
        }
      }
    }
  }
}
.tutorial-content{
    width: 69%;
    height:100%;
    position:absolute;
    right:0px;
    top:0px;
    overflow-y: auto;
    overflow-x: hidden;
}
.tutorial-content::-webkit-scrollbar-track {
	background-color: $ioi-light-gray;
  width:18px;
}
.tutorial-content::-webkit-scrollbar {
	width: 18px;
	background-color: #F5F5F5;
}
.tutorial-content::-webkit-scrollbar-thumb {
	background-color: $ioi-blue;
  border-radius: 0px;
}
.tutorial-content-container{
  float:right;
  width: 100%;
  padding:1%;
  .tutorial-body{
    width:100%;
    float:right;
    min-height:400px;
  }
  & img{
    margin:auto;
    max-width: 60%;
    margin:20px;
    clear:both;
  }
  & p{
    clear:both;
    max-width:95%;
    margin:auto;
    padding:10px;
  }
}
.router-link-exact-active{
  background: $ioi-green;
}

a.next-tutorial{
  font-size: 1.5em;
  font-family: 'Indie Flower', cursive;
  font-weight: $font-weight-normal;
  padding-bottom: 50px;
  color: $ioi-purple;
  &:hover{
    color: $ioi-blue;
  }
}
ul.info-list{
  padding:30px 0 30px 0;
  max-width: 500px;
  margin:auto;
  text-align: left;
}
