// @Author: alcwynparker
// @Date:   2017-06-18T15:33:02+01:00
// @Last modified by:   alcwynparker
// @Last modified time: 2018-03-12T23:14:03+00:00
.visual-editor {
  width:50%;
  height:50%;
  background: blue;
}
